.progress-bar-container {
  height: 5px;
  width: 100%;
  flex: none;
  position: relative;
}

.progress-bar {
  height: 5px;
  position: absolute;
}

.progress-bar-chapter {
  background: rgb(187, 37, 37);
  z-index: 1;
}

.progress-bar-page {
  background: rgb(190, 0, 0);
  z-index: 1;
}

.progress-bar-background {
  width: 100%;
  background: grey;
  z-index: 0;
}

.overlay-controls {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.container-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 12rem;
}

.btn-controls {
  background-color: rgba(256, 256, 256, 0.1);
  color: black;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.btn-controls:hover:enabled {
  background-color: rgba(256, 256, 256, 0.2);
  color: white;
}

.btn-controls:disabled {
  cursor: default;
  visibility: hidden;
}

.btn-page {
  display: flex;
  flex: 1 1 25%;
}

.btn-step {
  display: flex;
  flex: 1 1 75%;
}

.controls-previous {
  left: 0;
}

.controls-next {
  right: 0;
}

/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
